/** 
  * @desc Application component stylesheet
  * @author Maximiliano Goffman maxgoffman@gmail.com
*/
@import "/styles/_variables";
@import "/styles/_mixins";

//Fonts used in the react app
@include font-faces($font-faces);

body {
  font-family : $ibmplexsans-font;
}

.App {
  text-align: center;
}

.dismiss-exit {
  opacity: 1;
  transform: translateX(0%);
}

.dismiss-exit-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: all 300ms ease-out;
}